# Folder dependencies
node_modules/

# File environment (berisi API key, dsb)
.env

# Hasil build
dist/
build/

# Log dan debug
*.log

# Folder editor
.vscode/
.idea/

# Sistem file
.DS_Store
Thumbs.db

